<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' />
	<link rel="stylesheet" href="<%= url('/assets/css/main.css') %>" />
	<style>
		#mapid { 
			height: 600px;
			width: 50%;
			display: inline-block;
			float:right;
		}
		.inline{
			width:50%;
			float:left;	
		}
		.row{
			display:block;
			width:100%;
		}
	</style>

	<title>Ag Indy - Indy's Premier City Data Aggregator</title>
</head>

<body>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Ag Indy</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<%= erb :menu %>

				<div id="main">
					<div class="inner">
						<p><a href="/maps">Back</a></p>
						<header>
							<h1>Violent Crimes in Indianapolis by year</h1>
							<div class="row">
								<div class="inline">
									<input id="toggleAbandoned" type="button" value="+ abandoned" /><br><br>
									<input id="toggleBeat" type="button" value="+ police beat" /><br><br>
									<input id="toggleNeighborhood" type="button" value="+ neighborhood" /><br><br>
									<input id="toggle2014" type="button" value="+ 2014 data" /><br>
									<input id="toggle2013" type="button" value="+ 2013 data" /><br>
									<input id="toggle2012" type="button" value="+ 2012 data" /><br>
									<input id="toggle2011" type="button" value="+ 2011 data" /><br>
									<input id="toggle2010" type="button" value="+ 2010 data" />
								</div>
								<div id="mapid"></div>
							</div>
							<!--
							<br><br>
							<p><b>Green:</b> 2014</p>
							<p><b>Yellow:</b> 2013</p>
							<p><b>Orange:</b> 2012</p>
							<p><b>Red:</b> 2011</p>
							<p><b>Purple:</b> 2010</p>
							-->
							<script src="http://cdn.leafletjs.com/leaflet/v0.6.4/leaflet.js"></script>
							<script src="<%= url('/ZIP_Code_Boundaries.js') %>"></script>
							<script src="<%= url('/Indianapolis_Police_Zones.js') %>"></script>
							<script src="<%= url('/Abandoned_Housing.js') %>"></script>
							<script src="<%= url('/Indy_Neighborhoods.js') %>"></script>
							<script src="<%= url('/leaflet.shpfile.js') %>"></script>
							<script>
								var mymap = L.map('mapid').setView([39.768, -86.159], 11);
								L.tileLayer('https://api.mapbox.com/styles/v1/mnakhaleh/cip615lmk0002asmdw3dxo932/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibW5ha2hhbGVoIiwiYSI6ImNpcDVpNGw4MTAwYzV2NWtyM3l5ZGl4bjkifQ.jmycD6LV9EP_m2-3bHgUNw', {
									attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
									maxZoom: 18,
									id: 'mapbox.testingleaflet'
								}).addTo(mymap);

						        <% require 'csv' %>
						        <% counter_rape = 0 %>
						        <% counter_2014_rape = 0 %>
						        <% counter_2013_rape = 0 %>
						        <% counter_2012_rape = 0 %>
						        <% counter_2011_rape = 0 %>
						        <% counter_2010_rape = 0 %>
						        <% counter_homicide = 0 %>
						        <% counter_2014_homicide = 0 %>
						        <% counter_2013_homicide = 0 %>
						        <% counter_2012_homicide = 0 %>
						        <% counter_2011_homicide = 0 %>
						        <% counter_2010_homicide = 0 %>

						        var twentyfourteen = L.layerGroup();
								<% CSV.foreach("IMPD_UCR_2014_Data_NEW.csv") do |row| %>
									<% if row[1].to_s == "110" || row[1].to_s == "120"%>
										<% if row[1].to_s == "110" %>
											<% counter_homicide += 1 %>
											<% counter_2014_homicide += 1 %>
										<% elsif row[1].to_s == "120" %>
											<% counter_rape += 1 %>
											<% counter_2014_rape += 1 %>
										<% end %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'green',
											fillColor: '#0c0',
											fillOpacity: 0.5
										}).addTo(twentyfourteen);
									<% end %>
								<% end %>

								var twentythirteen = L.layerGroup();
								<% CSV.foreach("IMPD_UCR_2013_Data_NEW.csv") do |row| %>
									<% if row[1].to_s == "110" || row[1].to_s == "120"%>
										<% if row[1].to_s == "110" %>
											<% counter_homicide += 1 %>
											<% counter_2013_homicide += 1 %>
										<% elsif row[1].to_s == "120" %>
											<% counter_rape += 1 %>
											<% counter_2013_rape += 1 %>
										<% end %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'yellow',
											fillColor: '#ff0',
											fillOpacity: 0.5
										}).addTo(twentythirteen);
									<% end %>
								<% end %>

								var twentytwelve = L.layerGroup();
								<% CSV.foreach("IMPD_UCR_2012_Data_NEW.csv") do |row| %>
									<% if row[1].to_s == "110" || row[1].to_s == "120"%>
										<% if row[1].to_s == "110" %>
											<% counter_homicide += 1 %>
											<% counter_2012_homicide += 1 %>
										<% elsif row[1].to_s == "120" %>
											<% counter_rape += 1 %>
											<% counter_2012_rape += 1 %>
										<% end %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'orange',
											fillColor: '#f60',
											fillOpacity: 0.5
										}).addTo(twentytwelve);
									<% end %>
								<% end %>

								var twentyeleven = L.layerGroup();
								<% CSV.foreach("IMPD_UCR_2011_Data_NEW.csv") do |row| %>
									<% if row[1].to_s == "110" || row[1].to_s == "120"%>
										<% if row[1].to_s == "110" %>
											<% counter_homicide += 1 %>
											<% counter_2011_homicide += 1 %>
										<% elsif row[1].to_s == "120" %>
											<% counter_rape += 1 %>
											<% counter_2011_rape += 1 %>
										<% end %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'red',
											fillColor: '#c00',
											fillOpacity: 0.5
										}).addTo(twentyeleven);
									<% end %>
								<% end %>

								var twentyten = L.layerGroup();
								<% CSV.foreach("IMPD_UCR_2010_Data_NEW.csv") do |row| %>
									<% if row[1].to_s == "110" || row[1].to_s == "120"%>
										<% if row[1].to_s == "110" %>
											<% counter_homicide += 1 %>
											<% counter_2010_homicide += 1 %>
										<% elsif row[1].to_s == "120" %>
											<% counter_rape += 1 %>
											<% counter_2010_rape += 1 %>
										<% end %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'purple',
											fillColor: '#606',
											fillOpacity: 0.5
										}).addTo(twentyten);
									<% end %>
								<% end %>

								var beats = L.geoJson(police, {
									style: function (feature) {
										fillColors = ['red', 'green', 'blue'];
										styles = {
											weight: 1,
											color: "#999",
											opacity: 1,
											fillColor: "#999999",
											fillOpacity: 0.5
										}
									},
									onEachFeature: function(feature, layer) {
										if (feature.properties) {
											layer.bindPopup(Object.keys(feature.properties).map(function(k) {
												return k + ": " + feature.properties[k];
											}).join("<br />"), {
												maxHeight: 200
											});
										}
									}
								});

								var neighborhoods = L.geoJson(neighborhoods, {
									style: function (feature) {
										fillColors = ['red', 'green', 'blue'];
										styles = {
											weight: 1,
											color: "#999",
											opacity: 1,
											fillColor: 'blue',
											fillOpacity: 0.5
										}
									},
									onEachFeature: function(feature, layer) {
										if (feature.properties) {
											layer.bindPopup(Object.keys(feature.properties).map(function(k) {
												return k + ": " + feature.properties[k];
											}).join("<br />"), {
												maxHeight: 200
											});
										}
									}
								});

								var homes = L.geoJson(houses, {
									style: function (feature) {
										fillColors = ['red', 'green', 'blue'];
										styles = {
											weight: 1,
											color: "#999",
											opacity: 1,
											fillColor: 'blue',
											fillOpacity: 0.5
										}
									}
								});

								var toggleLayer = function(layer, element) {
									console.log(element);
									if (mymap.hasLayer(layer)) {
										mymap.removeLayer(layer);
										$(element).val("+" + $(element).val().substring(1));
									} else {
										layer.addTo(mymap);
										$(element).val("-" + $(element).val().substring(1));
									}
								}


								$("#toggleAbandoned").on("click", function() { toggleLayer(homes, this) });
								$("#toggleNeighborhood").on("click", function() { toggleLayer(neighborhoods, this) });
								$("#toggleBeat").on("click", function() { toggleLayer(beats, this) });

								$("#toggle2014").on("click", function() { toggleLayer(twentyfourteen, this) });
								$("#toggle2013").on("click", function() { toggleLayer(twentythirteen, this) });
								$("#toggle2012").on("click", function() { toggleLayer(twentytwelve, this) });
								$("#toggle2011").on("click", function() { toggleLayer(twentyeleven, this) });
								$("#toggle2010").on("click", function() { toggleLayer(twentyten, this) });
							</script>
						</header>
						<br>
						<h2>Conclusions</h2>
						<p>Between 2010 and 2014, there were <%= counter_rape %> rapes and <%= counter_homicide %> homicides in Indianapolis.</p>
						<p>In 2010, there were <%= counter_2014_rape %> rapes and <%= counter_2014_homicide %> homicides.<br>
							In 2011, there were <%= counter_2013_rape %> rapes and <%= counter_2013_homicide %> homicides.<br>
							In 2012, there were <%= counter_2012_rape %> rapes and <%= counter_2012_homicide %> homicides.<br>
							In 2013, there were <%= counter_2011_rape %> rapes and <%= counter_2011_homicide %> homicides.<br>
							In 2014, there were <%= counter_2010_rape %> rapes and <%= counter_2010_homicide %> homicides.</p>
						<p>Thankfully, the number of violent crimes is dropping.  However, violent crimes appear to be spreading further into the outer reaches of the greater Indianapolis area instead of staying more concentrated within the I-465 loop.</p> 
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="copyright">
							<li>&copy; 2016.  All rights reserved.  Made with &hearts; by Team Buckeye.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</footer>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</body>
