<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.6.4/leaflet.css" />
	<script src="htp://cdn.leafletjs.com/leaflet/v0.6.4/leaflet.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<link rel="stylesheet" href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' />
	<link rel="stylesheet" href="<%= url('/assets/css/main.css') %>" />
	<style>
		#mapid { 
			height: 500px;
			width: 100%;
		}
	</style>

	<title>Ag Indy - Indy's Premier City Data Aggregator</title>
</head>

<body>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Ag Indy</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<%= erb :menu %>

				<div id="main">
					<div class="inner">
						<header>
							<h1>Violent Crimes in Indianapolis in 2014</h1>
							<p>Purple = rape</p>
							<p>Red = homicide</p>
							<div id="mapid"></div>
							<script src="http://cdn.leafletjs.com/leaflet/v0.6.4/leaflet.js"></script>
							<script src="<%= url('/catiline.js') %>"></script>
							<script src="<%= url('/leaflet.shpfile.js') %>"></script>
							<script>
								var mymap = L.map('mapid').setView([39.768, -86.159], 11);
								L.tileLayer('https://api.mapbox.com/styles/v1/mnakhaleh/cip615lmk0002asmdw3dxo932/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibW5ha2hhbGVoIiwiYSI6ImNpcDVpNGw4MTAwYzV2NWtyM3l5ZGl4bjkifQ.jmycD6LV9EP_m2-3bHgUNw', {
									attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
									maxZoom: 18,
									id: 'mapbox.testingleaflet'
								}).addTo(mymap);

						        <% require 'csv' %>
								<% CSV.foreach("IMPD_UCR_2014_Data_NEW.csv") do |row| %>
									<% if row[1].to_s == "110" %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'red',
											fillColor: '#f03',
											fillOpacity: 0.5
										}).addTo(mymap);
									<% elsif row[1].to_s == "120" %>
										var circle = L.circle([<%= row[9].to_f %>, <%= row[8].to_f %>], 10, {
											color: 'purple',
											fillColor: '#606',
											fillOpacity: 0.5
										}).addTo(mymap);
									<% end %>
								<% end %>

								var shpfile = new L.Shapefile('ZIP_Code_Boundaries.zip', {
									onEachFeature: function(feature, layer) {
										if (feature.properties) {
											layer.bindPopup(Object.keys(feature.properties).map(function(k) {
												return k + ": " + feature.properties[k];
											}).join("<br />"), {
												maxHeight: 200
											});
										}
									}
								});

								shpfile.addTo(mymap);
								shpfile.once("data:loaded", function() {
									console.log("finished loaded shapefile");
								});
							</script>
						</header>
						<section class="tiles">
							<article class="style1">
								<span class="image">
									<img src="images/pic01.jpg" alt="" />
								</span>
								<a href="/crime">
									<h2>Crime</h2>
									<div class="content">
										<p>See how crime correlates with zipcode, suboptimal infrastructure, etc.</p>
									</div>
								</a>
							</article>
							<article class="style2">
								<span class="image">
									<img src="images/pic02.jpg" alt="" />
								</span>
								<a href="/traffic">
									<h2>Traffic</h2>
									<div class="content">
										<p>See how where people are meets with traffic accidents.</p>
									</div>
								</a>
							</article>
							<article class="style3">
								<span class="image">
									<img src="images/pic03.jpg" alt="" />
								</span>
								<a href="/other">
									<h2>More</h2>
									<div class="content">
										<p>Other interesting geolocated correlations.</p>
									</div>
								</a>
							</article>
						</section>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="copyright">
							<li>&copy; 2016.  All rights reserved.  Made with &hearts; by Team Buckeye.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</footer>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</body>
